.main_containar {
  height: 120vh;
  background: #23292f;
  border-top: 2px solid #181c20;
  padding: 20px 50px;
}
.containar {
  height: 100%;
  padding: 5px;
}
.div_one {
  height: 45%;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.div_two {
  height: 42%;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.div_three {
  border-top: 1px solid rgba(197, 195, 192, 0.493);
  height: 15%;
  text-align: center;
  align-items: center;
  align-content: center;
  font-size: 11px;
  font-weight: bold;
  color: #999999;
}

.box {
  width: 160px;
  height: 250px;
  margin: 10px;
  transition: background-color 0.3s ease-in-out;
}
.box_last {
  width: 220px;
  height: 250px;
  margin: 10px;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}
.headings2 {
  font-size: 16px;
  color: white;
  margin-bottom: 10px;
  font-weight: bold;
  cursor: pointer;
}
.peras {
  font-size: 12px;
  font-weight: bold;
  color: #999999;
  cursor: pointer;
  padding: 1px;
}
.peras:hover {
  color: #d8c946;
  transition: 0.2s;
}
.heading1 {
  color: white;
  margin-top: 10px;
  font-weight: bold;
  font-size: 17px;
}
.inp_div {
  display: flex;
}
.inp {
  width: 65%;
  font-size: small;
  height: 30px;
  padding: 6px;
  outline: none;
}
.inp_btn {
  width: 35%;
  font-size: 10px;
  background-color: rgb(60, 255, 0);
  color: white;
  font-weight: bold;
}
.inp_btn:hover {
  background-color: darkgreen;
}
.main_icon_div {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 5px;
}
.div_icon {
  padding: 7px;
  border-radius: 50%;
  background-color: floralwhite;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.div_icon:hover {
  background-color: gold;
  transform: scale(1.35);
}
.div_icon:active {
  background-color: red;
}

@media (max-width: 1116px) {
  .containar {
    padding: 0;
  }
}
@media (max-width: 1080px) {
  .div_one,
  .div_two {
    gap: 5px;
  }
}
@media (max-width: 1037px) {
  .div_one,
  .div_two,
  .div_three {
    flex-direction: column;
    height: 100%;
  }
  .main_containar {
    height: 100%;
  }
  .headings2 {
    font-size: 22px;
    color: white;
    margin-bottom: 10px;
  }
  .peras {
    font-size: 15px;
    font-weight: bold;
  }
  .box {
    width: 95%;
    height: 100%;
  }
  .box_last {
    width: 95%;
    height: 100%;
    padding-bottom: 20px;
  }
}
@media (max-width: 700px) {
  .main_containar {
    padding: 20px 30px;
  }
  .inp_div {
    flex-direction: column;
    gap: 5px;
    width: 100%;
  }
  .inp {
    width: 100%;
    font-size: small;
    height: 40px;
  }
  .inp_btn {
    width: 100%;
    padding: 10px 10px;
    font-size: 15px;
  }
  .div_three {
    text-align: center;
  }
}
@media (max-width: 500px) {
  .main_containar {
    padding: 20px 10px;
  }
  .peras {
    font-size: 13px;
  }
}
